body{
  background-color: #7BAFD4;
  font: Helvetica;
}

.glyphicon {
  text-shadow: 0 4px 8px #BDBDBD;
}
.col-md-10{
  background-color: #E1F5FE;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.col-md-8{
  background-color: #E1F5FE;
}
.row{
  overflow:hidden;
  padding-top:20px;
}

.left-half{
  background-color: #E1F5FE;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  margin-right: -5px;
  margin-left: -15px;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}

.right-half{
  background-color: #E1F5FE;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  margin-right: -15px;
  margin-left: -5px;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}

.detail-exam{
  font-size:16px;
}
