body{
  background-color: #7BAFD4;
}

.glyphicon {
  text-shadow: 0 4px 8px #BDBDBD;
}

.row{
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.col-md-10,
.col-xs-12{
  background-color: #E1F5FE;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detail-exam{
  font-size:16px;
  text-align: center;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px -15px 20px -15px;
}

@media all and (min-width: 992px){
  .flex-item{
    background-color: #E1F5FE;
    width: 41%;
    padding: 5px;
    margin: 0px 0.6vw 0px 0.6vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@media all and (max-width: 991px){
  .flex-item{
    background-color: #E1F5FE;
    width: 100%;
    padding: 5px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
