<div ng-controller="epa-details-controller">
  <div class="container-fluid">
    <div class = "row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <h2 align="center">EPA {{epa}} - Getting Patient History</h2>
        <h4 align="center">You are currently at an EPA mastery level of 4.</h4>
        <div align="center">
          <span class="glyphicon glyphicon-arrow-up" style="font-size: 100px; color: #388E3C"></span>
        </div>
        <h4 align="center">Your level in this EPA has risen since the last examination.</h4>
      </div>
    </div>

    <div class="flex-container">
      <div class="flex-item">
        <h3 align="center">EPA {{epa}} Checklist</h3>
        <ul ng-repeat="criteria in epaDetails[0].criteria">
          <li class="detail-li">
            {{criteria.mainCriteria}}
            <ul ng-repeat="sub in criteria.subCriteria">
              <li>
                {{sub}}
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="flex-item">
        <h3 align="center">Your Recent Exams</h3>
        <div class="detail-exam">Sept 14 2015 - Test ABC: 90%
          <span class="glyphicon glyphicon-arrow-up" style="font-size: 25px; color: #388E3C"></span>
          <button type="button" class="glyphicon glyphicon-envelope btn btn-link" data-toggle="modal" data-target="#examModal" style="font-size: 15px;"></button>
          1 Comment
        </div>
        <div class="detail-exam">Jan 09 2016 - Test XYZ: 65%
          <span class="glyphicon glyphicon-arrow-down" style="font-size: 25px; color: #D32F2F"></span>
          <button type="button" class="glyphicon glyphicon-envelope btn btn-link" data-toggle="modal" data-target="#examModal" style="font-size: 15px;"></button>
          5 Comments
        </div>
        <div class="detail-exam">April 25 2016 - Test GHI: 79%
          <span class="glyphicon glyphicon-sort" style="font-size: 25px; color: #F9AE1D;"></span>
          <button type="button" class="glyphicon glyphicon-envelope btn btn-link" data-toggle="modal" data-target="#examModal" style="font-size: 15px;"></button>
          3 Comments
        </div>
        <div class="detail-exam">May 05 2016 - Test DEF: 95%
          <span class="glyphicon glyphicon-arrow-up" style="font-size: 25px; color: #388E3C"></span>
          <button type="button" class="glyphicon glyphicon-envelope btn btn-link" data-toggle="modal" data-target="#examModal" style="font-size: 15px;"></button>
          2 Comments
        </div>
      </div>
    </div>
  </div>

  <div id="examModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Exam 1 Comments</h4>
        </div>
        <div class="modal-body">
          <div>Greetings</div>
          <div>Link to exam.</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
