<div ng-controller="dashboardCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1 align="center">
          Lindsay Krinkle
        </h1>
        <div id="chart" style="min-width: 240px; height: 400px; margin: 10 auto"></div>
      </div>
    </div>
    <div class="row" style="padding-top: 50px">
      <div class ="col-md-2"></div>
      <div class = "col-md-2" ng-repeat="(key, level) in graphData">
        <div align = "center">
          <h4>{{key}}</h4>
          <div ng-repeat="epa in level | orderBy:epa">
            <a href="#/Details/{{epa}}">EPA {{epa}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
