<div ng-controller="dashboardCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div id="chart" style="min-width: 240px; height: 400px; margin: 10 auto"></div>
      </div>
    </div>
    <div class="row">
      <div class ="col-md-offset-2">
        <div class = "col-md-1" ng-repeat="level in graphData">
          <div class = "col-md-1" ng-repeat="level in graphData"></div>
          <div align = "center">
            <div ng-repeat="epa in level">
              <a href="#/Details/{{epa}}">EPA {{epa}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
